<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn-tailwindcss.vercel.app/"></script>
    <title>Marketplace Sample</title>
  </head>
  <body class="bg-black text-white">

    {{{body}}}

  </body>
</html>